.AddtaskPage{
    
    background-color: aqua;
    height: 100vh;
}

.r1_details{
justify-content: space-between;
display: flex;
padding: 10px;

}
.r1_details button{

  background-color: blueviolet;
  border-radius: 10px;
}
.r1_bagSquare {
margin-right: 20px;
}

.label {
    color: rgba(75, 73, 73, 0.726);
    
  }

  .rectangle{
    background-color: green;
    height: 30px;
    width: 250px;
  }
  .rectangle_1{
    background-color: green;
    height: 30px;
    width: 250px;
  }
  .rectangle_2{
    background-color: green;
    height: 30px;
    width: 250px;
  } 

  .r3{padding: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
.r4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rectangle_3{
  background-color: green;
  height: 30px;
  width: 250px;
}
.rectangle_4{
  background-color: green;
  height: 30px;
  width: 250px;
}
.rectangle_5{
  background-color: green;
  height: 30px;
  width: 250px;
}