.TasklistP{
    display: absolute;
}

.TasklistP_content{
display: flex;
}

.TasklistP_content2{
    display: flex;
}

.TasklistP_content_titlebar{

  margin-top: 10%; 
   margin-bottom: 30%; 
   margin-left: 2%;

}
.TasklistP_content_filterbar{
    /* margin-bottom: 50%; */
    margin-left: 12%;
}